<!-- <div class="main-page">
  <h1>Welcome to Flixirama!</h1>
  <div class="welcome-buttons">
    <button
      mat-raised-button
      (click)="openUserRegistrationDialog()"
      style="margin-right: 10px"
      color="primary"
    >
      Sign Up
    </button>
    <button
      mat-raised-button
      (click)="openUserLoginDialog()"
      style="margin-right: 10px"
      color="primary"
    >
      Login
    </button>
    <button mat-raised-button color="primary" (click)="openMoviesDialog()">
      All Movies
    </button>
  </div>
</div> -->

<mat-toolbar class="navbar" *ngIf="showNavbar">
  <!-- App Logo -->
  <span class="logo" routerLink="/movies">FLIXIRAMA</span>

  <span class="spacer"></span>

  <!-- Navigation Buttons -->
  <button mat-button routerLink="/movies">Movies</button>
  <button mat-button routerLink="/profile">Profile</button>
  <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>

<router-outlet></router-outlet>
